.m-icon-button {
    display: grid;
    place-items: center;
    outline: none;
    border: none;
    transition: background 0.25s;
    will-change: box-shadow;
    cursor: pointer;
    user-select: none;

    padding: 6px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    color: var(--md-color-on-surface-variant);

    &:hover {
        @media (any-hover: hover) {
            // background: var(--md-color-surface2);
        }
    }

    &--noripple:active {
        background: var(--md-color-surface3);
    }

    &--disabled {
        cursor: default;
        pointer-events: none;

        .button-icon {
            color: var(--md-color-on-surface);
            opacity: 0.38;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}
