@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;500;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
@import '../../../packages/styles/dark.scss';
:root {
    /* brand colors */
    --c-brand: var(--md-color-primary);
    --c-brand-light: var(--md-color-primary-hover);

    // background colors
    // --c-bg: var(--md-color-background-light);
    --c-bg-light: #f3f4f5;
    --c-bg-lighter: #eeeeee;
    --c-bg-navbar: var(--c-bg);
    --c-bg-sidebar: var(--c-bg);
    --c-bg-arrow: #cccccc;

    --code-bg-color: #073042;

    --font-family: Roboto, Noto Sans SC, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell,
        'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --font-family-code: Cascadia Code, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

html.dark {
    @extend .material-theme-dark;
    --c-brand: var(--md-color-primary);
    --c-brand-light: var(--md-color-primary-hover);
    --c-bg: var(--md-color-background-dark);
    --c-text: var(--md-color-on-background);
}

div[class*='language-'] {
    background-color: var(--code-bg-color);
    border-radius: 13px;
}

.token.tag {
    color: #78d9ec;
}

.token.attr-name {
    color: #b5aefb;
}

.token.attr-value {
    color: #c3e88d;
}

div[class*='language-'] code {
    line-height: 24px;
    font-size: 16px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 24px;
    border: solid 1px var(--c-border-dark);
    display: table;
    overflow: hidden;
    width: 100%;
    transition-duration: 0.3s;
    transition-property: background-color, border;
}
tbody tr:nth-child(n) {
    transition-duration: 0.3s;
    transition-property: background-color, border;
    background: var(--c-bg);
}

thead tr {
    transition-property: background-color, border;
    transition-duration: 0.3s;
    background-color: var(--md-color-surface1);
}

td,
th {
    padding-top: 16px;
    padding-bottom: 16px;
    border: 0;
    border-right: 1px solid var(--c-border-dark);
}
td {
    border-top: 1px solid var(--c-border-dark);
}
td:last-child,
th:last-child {
    border-right: 0;
}

body {
    -webkit-tap-highlight-color: transparent;
}

.navbar .site-name {
    font-weight: 400;
}

p.sidebar-item:not(.sidebar-heading) {
    font-weight: 500;
    line-height: 1.25rem;
    height: 1.25rem;
    font-size: 0.9em;
    opacity: 0.8;
}

a.sidebar-item {
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
        background: linear-gradient(0deg, var(--md-color-on-surface-opacity08), var(--md-color-on-surface-opacity08));
    }
}

.container {
    transition: background-color 0.3s ease;
}

::selection {
    color: currentColor;
    background-color: var(--md-color-tertiary-container);
}

// ================
// 侧边栏
// ================
.sidebar {
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    a {
        display: inline-block;
    }

    .navbar-items {
        display: none;
        border-bottom: 1px solid var(--c-border);
        transition: border-color var(--t-color);
        padding: 0.5rem 0 0.75rem 0;

        a {
            font-weight: 600;
        }

        .navbar-item {
            display: block;
            line-height: 1.25rem;
            font-size: 1.1em;
            padding: 0.5rem 0 0.5rem 1.5rem;
        }
    }

    .sidebar-items {
        padding: 1.5rem 0;
    }
}

p.sidebar-item {
    margin: 0 !important;
}

.sidebar-item {
    cursor: default;
    border-left: 0.25rem solid transparent;
    height: calc(3rem - 4px);
    line-height: calc(3rem - 4px);
    border-radius: 14px;
    color: var(--c-text);
    margin-left: 6px;
    margin-right: 2px;
    margin-bottom: 4px;

    &:focus-visible {
        outline-width: 1px;
        outline-offset: -1px;
    }

    &.active:not(p.sidebar-heading) {
        // font-weight: 600;
        font-weight: 500;
        background-color: var(--md-color-secondary-container);
        // border-left-color: var(--c-text-accent);
        margin-left: 6px;
        margin-right: 2px;
        margin-bottom: 4px;
        border-left: 0.25rem solid transparent;
        color: currentColor;
    }

    &.sidebar-heading {
        transition: color 0.15s ease;
        font-size: 1.1em;
        font-weight: bold;
        padding: 0.35rem 1.5rem 0.35rem 1.25rem;
        width: 100%;
        box-sizing: border-box;
        margin: 0;

        &.collapsible {
            cursor: pointer;

            & + .sidebar-item-children {
                margin-bottom: 0.75rem;
            }
        }

        .arrow {
            position: absolute;
            top: -0.12em;
            right: 0.5em;
        }
    }

    &:not(.sidebar-heading) {
        font-size: 1em;
        font-weight: 400;
        display: inline-block;
        margin: 0 2px 4px 6px;
        // margin: none;
        // margin-left: 6px;
        // margin-right: 2px;
        // margin-bottom: 4px;
        padding: 0 1rem 0 2rem;
        width: 94%;
        box-sizing: border-box;
        line-height: calc(3rem - 4px);

        & + .sidebar-item-children {
            padding-left: 1rem;
            font-size: 0.95em;
        }

        .sidebar-item-children .sidebar-item-children & {
            padding: 0.25rem 1rem 0.25rem 1.75rem;

            &.active {
                font-weight: 500;
                background-color: transparent;
            }
        }

        a.sidebar-heading + .sidebar-item-children &.active {
            //   border-left-color: transparent;
            background-color: transparent;
        }
    }
}

a.sidebar-item {
    cursor: pointer;
    margin-left: 6px;
    margin-right: 2px;
    margin-bottom: 4px;

    &:hover {
        color: var(--c-text);
    }
}

// 滚动条
// style/layout.scss

// .sidebar {
//     scrollbar-width: initial;
//     scrollbar-color: initial;
//     background-color: initial;
//     transition: transform var(--t-transform), background-color var(--t-color), border-color var(--t-color);
//     &::-webkit-scrollbar {

//     }
//     &::-webkit-scrollbar-track {
//         background-color: inherit;
//     }
//     &::-webkit-scrollbar-thumb {
//         background-color: inherit;
//     }
// }
