.m-switch {
  width: 52px;
  height: 32px;
  box-sizing: border-box;
  background-color: var(--md-color-surface-variant);
  border: solid 2px var(--md-color-outline);
  padding: 0;
  border-radius: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;

  transition: background-color 0.2s cubic-bezier(0.34, 0.69, 0.1, 1), border-color 0.2s cubic-bezier(0.34, 0.69, 0.1, 1);

  &__overlay {
    width: 40px;
    height: 40px;
    border-radius: 31px;
    flex-shrink: 0;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.34, 0.69, 0.1, 1);
    transition-property: background-color, transform, color;
    transform: translateX(-10px);
    display: grid;
    place-items: center;
    position: relative;

    color: var(--md-color-on-primary);

    .m-switch__handle {
      width: 24px;
      height: 24px;
      border-radius: 24px;
      background-color: var(--md-color-outline);

      transform: scale(0.6666);
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.34, 0.69, 0.1, 1);
      transition-property: background-color, transform;

      &--has-icon {
        transform: scale(1);
      }
    }

    .m-switch__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &:hover {
    @media (any-hover: hover) {
      .m-switch__overlay {
        background: #1c1b1f14;

        .m-switch__handle {
          background-color: var(--md-color-on-surface-variant);
        }
      }
    }
  }

  &:active {
    .m-switch__overlay {
      background: #1c1b1f14;
      .m-switch__handle {
        transform: scale(1.1666);
      }
    }
  }

  &--checked {
    background-color: var(--md-color-primary);
    border-color: var(--md-color-primary);

    .m-switch__overlay {
      transform: translateX(10px);
      color: var(--md-color-on-primary-container);

      .m-switch__handle {
        background-color: var(--md-color-on-primary);
        transform: scale(1);
      }
    }

    &:hover {
      @media (any-hover: hover) {
        .m-switch__overlay {
          .m-switch__handle {
            background-color: var(--md-color-primary-container);
          }
        }
      }
    }

    &:active {
      .m-switch__handle {
        transform: scale(1.1666);
      }
    }
  }

  &--disabled {
    opacity: 0.12;

    &:hover {
      @media (any-hover: hover) {
        .m-switch__overlay {
          background: none;

          .m-switch__handle {
            background-color: var(--md-color-outline);
          }
        }
      }
    }

    &:active {
      .m-switch__overlay {
        background: none;
        .m-switch__handle {
          transform: scale(0.6666);

          &--has-icon {
            transform: scale(1);
          }
        }
      }
    }

    &.m-switch--checked {
      &:hover {
        @media (any-hover: hover) {
          .m-switch__overlay {
            background: none;
            .m-switch__handle {
              background-color: var(--md-color-on-primary);
            }
          }
        }
      }
      &:active {
        .m-switch__overlay {
          background: none;
          .m-switch__handle {
            transform: scale(1);
          }
        }
      }
    }
  }
}
