.material-colors {
  --md-color-primary-light: #6750a4;
  --md-color-on-primary-light: #ffffff;
  --md-color-primary-container-light: #eaddff;
  --md-color-on-primary-container-light: #21005d;
  --md-color-secondary-light: #625b71;
  --md-color-on-secondary-light: #ffffff;
  --md-color-secondary-container-light: #e8def8;
  --md-color-on-secondary-container-light: #1d192b;
  --md-color-tertiary-light: #7d5260;
  --md-color-on-tertiary-light: #ffffff;
  --md-color-tertiary-container-light: #ffd8e4;
  --md-color-on-tertiary-container-light: #31111d;
  --md-color-error-light: #b3261e;
  --md-color-on-error-light: #ffffff;
  --md-color-error-container-light: #f9dedc;
  --md-color-on-error-container-light: #410e0b;
  --md-color-outline-light: #79747e;
  --md-color-background-light: #fffbfe;
  --md-color-on-background-light: #1c1b1f;
  --md-color-surface-light: #fffbfe;
  --md-color-on-surface-light: #1c1b1f;
  --md-color-surface-variant-light: #e7e0ec;
  --md-color-on-surface-variant-light: #49454f;
  --md-color-inverse-surface-light: #313033;
  --md-color-inverse-on-surface-light: #f4eff4;

  // Interaction states
  --md-color-primary-light-hover: #735eab; // primary + on-primary-opacity08
  --md-color-primary-light-focus: #7965af; // primary + on-primary-opacity12

  --md-color-primary-container-light-hover: #dbccf2; // primary-container + on-primary-container-opacity08
  --md-color-primary-container-light-focus: #d2c2eb; // primary-container + on-primary-container-opacity12

  --md-color-secondary-container-light-hover: #d8cfe8; // secondary-container + on-secondary-container-opacity08
  --md-color-secondary-container-light-focus: #cfc6df; // secondary-container + on-secondary-container-opacity12

  --md-color-tertiary-container-light-hover: #efc8d4; // tertiary-container + on-tertiary-container-opacity08
  --md-color-tertiary-container-light-focus: #e6c0cb; // tertiary-container + on-tertiary-container-opacity12

  // opacity
  --md-color-primary-opacity05-light: rgba(103, 80, 164, 0.05);
  --md-color-primary-opacity08-light: rgba(103, 80, 164, 0.08);
  --md-color-primary-opacity11-light: rgba(103, 80, 164, 0.11);
  --md-color-primary-opacity12-light: rgba(103, 80, 164, 0.12);

  --md-color-on-surface-opacity08-light: rgba(28, 27, 31, 0.08);
  --md-color-on-surface-opacity12-light: rgba(28, 27, 31, 0.12);

  // elevation surface
  --md-color-surface1-light: #f7f2f9; // primary-opacity05 + surface
  --md-color-surface2-light: #f3edf7; // primary-opacity08 + surface
  --md-color-surface3-light: #eee8f4; // primary-opacity11 + surface
  --md-color-surface4-light: #ece6f3; // primary-opacity12 + surface
  --md-color-surface5-light: #e9e3f1; // primary-opacity14 + surface

  // background disabled
  --md-color-background-disable-light: rgba(31, 31, 31, 0.12);

  // Surface tint
  --md-layer-surface-1-light: linear-gradient(0deg, rgba(103, 80, 164, 0.05), rgba(103, 80, 164, 0.05));
  --md-layer-surface-2-light: linear-gradient(0deg, rgba(103, 80, 164, 0.08), rgba(103, 80, 164, 0.08));
  --md-layer-surface-3-light: linear-gradient(0deg, rgba(103, 80, 164, 0.11), rgba(103, 80, 164, 0.11));
  --md-layer-surface-4-light: linear-gradient(0deg, rgba(103, 80, 164, 0.12), rgba(103, 80, 164, 0.12));

  // dark
  --md-color-primary-dark: #d0bcff;
  --md-color-on-primary-dark: #381e72;
  --md-color-primary-container-dark: #4f378b;
  --md-color-on-primary-container-dark: #eaddff;
  --md-color-secondary-dark: #ccc2dc;
  --md-color-on-secondary-dark: #332d41;
  --md-color-secondary-container-dark: #4a4458;
  --md-color-on-secondary-container-dark: #e8def8;
  --md-color-tertiary-dark: #efb8c8;
  --md-color-on-tertiary-dark: #492532;
  --md-color-tertiary-container-dark: #633b48;
  --md-color-on-tertiary-container-dark: #ffd8e4;
  --md-color-error-dark: #f2b8b5;
  --md-color-on-error-dark: #601410;
  --md-color-error-container-dark: #8c1d18;
  --md-color-on-error-container-dark: #f9dedc;
  --md-color-outline-dark: #938f99;
  --md-color-background-dark: #1c1b1f;
  --md-color-on-background-dark: #e6e1e5;
  --md-color-surface-dark: #1c1b1f;
  --md-color-on-surface-dark: #e6e1e5;
  --md-color-surface-variant-dark: #49454f;
  --md-color-on-surface-variant-dark: #cac4d0;
  --md-color-inverse-surface-dark: #e6e1e5;
  --md-color-inverse-on-surface-dark: #1c1b1f;

  // Interaction states
  --md-color-primary-dark-hover: #c4aff4; // primary + on-primary-opacity08
  --md-color-primary-dark-focus: #bea9ee; // primary + on-primary-opacity12

  --md-color-primary-container-dark-hover: #5c4594; // primary-container + on-primary-container-opacity08
  --md-color-primary-container-dark-focus: #614a99; // primary-container + on-primary-container-opacity12

  --md-color-secondary-container-dark-hover: #575165; // secondary-container + on-secondary-container-opacity08
  --md-color-secondary-container-dark-focus: #5d576b; // secondary-container + on-secondary-container-opacity12

  --md-color-tertiary-container-dark-hover: #6f4754; // tertiary-container + on-tertiary-container-opacity08
  --md-color-tertiary-container-dark-focus: #764e5a; // tertiary-container + on-tertiary-container-opacity12

  // opacity
  --md-color-primary-opacity05-dark: rgba(208, 188, 255, 0.05);
  --md-color-primary-opacity08-dark: rgba(208, 188, 255, 0.08);
  --md-color-primary-opacity11-dark: rgba(208, 188, 255, 0.11);
  --md-color-primary-opacity12-dark: rgba(208, 188, 255, 0.12);

  --md-color-on-surface-opacity08-dark: rgba(230, 225, 229, 0.08);
  --md-color-on-surface-opacity12-dark: rgba(230, 225, 229, 0.12);

  // elevation surface
  --md-color-surface1-dark: #25232a; // primary-opacity05 + surface
  --md-color-surface2-dark: #2b2831; // primary-opacity08 + surface
  --md-color-surface3-dark: #302d38; // primary-opacity11 + surface
  --md-color-surface4-dark: #322f3a; // primary-opacity12 + surface
  --md-color-surface5-dark: #35313f; // primary-opacity14 + surface

  // background disabled
  --md-color-background-disable-dark: rgba(227, 227, 227, 0.12);

  // Surface tint
  --md-layer-surface-1-dark: linear-gradient(0deg, rgba(208, 188, 255, 0.05), rgba(208, 188, 255, 0.05));
  --md-layer-surface-2-dark: linear-gradient(0deg, rgba(208, 188, 255, 0.08), rgba(208, 188, 255, 0.08));
  --md-layer-surface-3-dark: linear-gradient(0deg, rgba(208, 188, 255, 0.11), rgba(208, 188, 255, 0.11));
  --md-layer-surface-4-dark: linear-gradient(0deg, rgba(208, 188, 255, 0.12), rgba(208, 188, 255, 0.12));
}
