@import '../styles/elevation.scss';

$textColor: currentColor;

.m-chip {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid var(--md-color-outline);
    border-radius: 8px;
    height: 32px;
    padding-inline: 8px;
    user-select: none;
    cursor: pointer;
    background-color: var(--md-color-surface);
    transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
    position: relative;

    &--assist {
        color: var(--md-color-on-surface);
    }

    &--input,
    &--filter,
    &--suggestion {
        color: var(--md-color-on-surface-variant);
    }

    &:hover {
        @media (any-hover: hover) {
            background-color: var(--md-color-on-surface-opacity08);
        }
    }

    &--elevated {
        @extend .md-elevation-z1;
        background-color: var(--md-color-surface);
        border-width: 0;

        &:hover {
            @media (any-hover: hover) {
                @include md-elevation-z2;
            }
        }

        &:active {
            @include md-elevation-z1;
        }
    }

    &--rounded {
        border-radius: 16px;
        padding-left: 36px;

        .m-chip__left {
            position: absolute;
            left: 1px;
        }
    }

    &--checked {
        border-color: var(--md-color-secondary-container);
        // border-width: 0;
        background-color: var(--md-color-secondary-container);
        color: var(--md-color-on-secondary-container);

        &:hover {
            @media (any-hover: hover) {
                background-color: var(--md-color-secondary-container-hover);
                border-color: var(--md-color-secondary-container-hover);
            }
        }
    }

    &__text {
        margin-inline: 4px;
    }

    &__left {
        margin-right: 4px;
        color: var(--md-color-primary);
    }

    &-slide-enter-active {
        transition: width 0.33s var(--expend-animation), margin-right 0.33s var(--expend-animation),
            opacity 0.33s var(--expend-animation), background-color 0.33s var(--expend-animation);
    }
    &-slide-leave-active {
        transition: width 0.33s var(--expend-animation), margin-right 0.33s var(--expend-animation),
            opacity 0.33s var(--expend-animation), background-color 0.33s var(--expend-animation);
    }
    &-slide-enter-from,
    &-slide-leave-to {
        width: 0;
        margin-right: 0;
        // transform: scale(0.5);
        opacity: 0;
    }
    &-slide-enter-to,
    &-slide-leave-from {
        width: 20px;
        margin-right: 4px;
        // transform: scale(1);
        opacity: 1;
    }

    // input
    &__input-block {
        display: inline-flex;
        align-items: center;
        height: 32px;
        padding-inline: 8px;
        position: relative;
        overflow: hidden;

        &__label {
            visibility: hidden;
            // z-index: -1;
            // position: relative;
        }

        &__input {
            color: var(--md-color-on-surface-variant);
            border: none;
            margin-inline: 3px;
            width: 100%;
            position: absolute;

            &:focus-visible {
                outline: none;
            }
        }
    }
}

.m-animation-open {
    &-enter {
        &-from {
            transform: translateX(-4px);
            opacity: 0.6;
        }
        &-active {
            transition: all 0.1s ease;
        }
        &-to {
            transform: translateX(0px);
            opacity: 1;
        }
    }
}
