@import '../styles/elevation.scss';

$textColor: currentColor;

.m-chip {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid var(--md-color-outline);
    border-radius: 8px;
    height: 32px;
    padding-inline: 8px;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;

    &--assist {
        color: var(--md-color-on-surface);
    }

    &--input,
    &--filter,
    &--suggestion {
        color: var(--md-color-on-surface-variant);
    }

    &:hover {
        @media (any-hover: hover) {
            background-color: var(--md-color-on-surface-opacity08);
        }
    }

    &--elevated {
        @extend .md-elevation-z1;
        background-color: var(--md-color-surface);
        border-width: 0;

        &:hover {
            @media (any-hover: hover) {
                @include md-elevation-z2;
            }
        }

        &:active {
            @include md-elevation-z1;
        }
    }

    &--rounded {
        border-radius: 16px;
        padding-left: 0;
    }

    &--selected {
        border-color: transparent;
        background-color: var(--md-color-secondary-container);
        color: var(--md-color-on-secondary-container);

        &:hover {
            @media (any-hover: hover) {
                background-color: var(--md-color-secondary-container-hover);
            }
        }
    }

    &__text {
        margin-inline: 4px;
    }

    &__left {
        margin-right: 4px;
        color: var(--md-color-primary);
    }

    &-slide-enter-active {
        transition: width 0.2s, margin-right 0.2s, transform 0.1s 0.1s;
    }
    &-slide-leave-active {
        transition: width 0.2s, margin-right 0.2s, transform 0.1s;
    }
    &-slide-enter-from,
    &-slide-leave-to {
        width: 0;
        margin-right: 0;
        transform: scale(0.7);
    }
    &-slide-enter-to,
    &-slide-leave-from {
        width: 20px;
        margin-right: 4px;
        transform: scale(1);
    }
}
