:root {
    --divider-color: currentColor;
    --divider-text-padding: 8px 0;
}

.m-divider {
    position: relative;
    width: 100%;
    height: 0;
    border: none;
    border-top: 1px solid var(--divider-color);
    opacity: 0.2;
    margin: var(--divider-text-padding);
}
