@use '../styles/elevation.scss';
@use '../styles/common.scss';

.m-card {
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    transition: background 0.3s;
    overflow: hidden;

    &--horizontal {
        flex-direction: row;
    }

    &--outlined {
        border: 1px solid var(--md-color-outline);
        color: var(--md-color-on-surface);
        background: var(--md-color-surface);
    }

    &--elevated {
        @extend .md-elevation-z2;
        color: var(--md-color-on-surface);
        background: var(--md-color-surface1);
    }

    &--filled {
        color: var(--md-color-on-surface-variant);
        background: var(--md-color-surface-variant);
    }

    &__main {
        display: flex;
        flex-direction: column;
    }

    &__headline {
        padding: 16px 16px 0;

        &-nopt {
            padding-top: 0;
        }
    }

    &__title {
        @extend .body-large;
    }

    &__subtitle {
        @extend .body-medium;
        color: var(--md-color-on-surface-variant);
    }

    &__content {
        padding: 16px 16px 0;
        @extend .body-medium;
        color: var(--md-color-on-surface-variant);
    }

    &__action {
        padding: 16px 16px 0;
    }

    &__padding {
        height: 16px;
    }
}
